/* Write your CSS here */
body {
  margin: 0px;
  font-family: 'Roboto';
}
.main-container {
  background-color: #07080c;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.heading {
  font-style: italic;
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.image {
  width: 70%;
  height: auto;
}
.heading-speed {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.paragraph {
  font-size: 20px;
  color: #cbd5e1;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.button-accelerate {
  background-color: #0b69ff;
  border-radius: 5px;
  border-width: 0px;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  height: 40px;
  width: 100px;
  margin: 15px;
}
.button-applybrake {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #94a3b8;
  padding: 10px;
  color: #94a3b8;
  font-weight: bold;
  height: 40px;
  width: 100px;
  margin: 15px;
}
